@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw;
    height: 100vh;
}

h1, h2, p {
    margin-bottom: 10px;
    text-align: justify;
}

header, footer {
    padding: 20px;
}

.flex-content {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
}

.text-media {
    display: flex;
    flex-flow: row wrap;
}

.text {
    flex: 1 1 500px;
}

.media {
    flex: 1 0 500px;
}

.media  img {
    display: block;
    margin: auto;
    width: 300px;
}

.media iframe {
    display: block;
    margin: auto;
    width: 90%;
}