@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: yellow;
}

header {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-family: "Passion One";
    font-size: 60px;
    font-variant: small-caps;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

header a, footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

main {
    margin: auto;
    background: yellow;
    max-width: 800px;
    min-width: 360px;
}

section {
    padding: 20vh 48px;
    background: white;
}


section > p {
    font-family: "Sriracha";
    font-size: 20px;
    color: rgb(38, 37, 37);
    align-content: center;
}

.paralax {
    background: black url(imagens/background001.jpg) no-repeat;
    background-size: cover;
}

.paralax p {
    background: rgba(0, 0, 0, 0.500);
    color: white;
    padding: 24px;
    border-radius: 10px;
    display: inline-block;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}